.custom_modal_cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateZ(0);
    background-color: rgb(51,51,51, 0.5);
    /* opacity: 0;
    transform: translateY(-50px) */
    transition: opacity 300ms ease, transform 300ms ease;
    opacity: 0;
    overflow: scroll;
}

@media screen and (min-width: 576px) {
    .custom_modal {
        max-width: 500px;
    }
}
.custom_modal {
    position: relative;
    width: auto;
    margin: 1.75rem auto 1.75rem auto;
    background: white;
    border-radius: 0.3rem;
    background-clip: padding-box;
    border: 1px solid rgb(0,0,0, 0.2);
    display: flex;
    flex-direction: column;
}

.custom_modal .close_button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1em;
    margin-right: 1em;
    cursor: pointer
}

.modal-transition-enter {
    opacity: 0;
    /* transform: translateY(-50px) */
}

.modal-transition-enter-active {
    opacity: 1;
    /* transform: translateY(0); */
}

.modal-transition-leave, .modal-transition-enter-done {
    opacity: 1;
    /* transform: translateY(0); */
    
}
.modal-transition-leave-active {
    opacity: 0;
    /* transform: translateY(-50px); */
}

.lock-scroll {
    overflow: hidden !important;
}